<html>
    <h1>Add an album</h1>

    <form action="/albums" method="POST">
        <label>Album Title<label/>
        <input type = "text" name = "title" />
        <div>
        <label>Album Release Year<label/>
        <input type = "text" name = "release_year" />
        <div>
        <label>Album artist ID<label/>
        <input type = "text" name = "artist_id" />


        <input type = "submit" />
</html>